.menu a {
  color: #333;
  padding-right: 1rem;
}

.menu {
  margin: 30px 0;
}

button {
  width: auto !important;
}

.add {
  color: white !important;
  padding: 8px 7px !important;
}

.admin-name:hover {
  text-decoration: underline;
}
