.card-img-top {
  object-fit: cover !important;
}

// .card-wrapper {
//   margin: 10px !important;
// }

.card {
  border-color: none !important;
}

.btn {
  font-family: "Spartan", sans-serif !important;
}

// .button:hover {
//   background: none;
// }
