.cart-icon {
  color: $primary;
  font-size: 1rem !important;
}



.navbar-brand {
  font-family: $logo !important;
  font-size: 2rem !important;
  letter-spacing: 0.5rem !important;
  color: $primary !important;
}

.nav-link {
  text-transform: uppercase;
}


