// .form-control {
//   width: 200px !important;
// }

.input-group {
  width: 50% !important;
  min-width: 100px !important;
}

#search-btn {
  background-color: $primary !important;
  color: white !important;
}
